Repository UWB-Biocomputing/Graphitti, pull requests merged in 2024-07, with the labels that each got.

#672 implement the init() and term() for Hdf5 Recorder
  Simulator/Connections/Neuro/ConnGrowth.cpp
  Simulator/Recorders/Hdf5Recorder.cpp
  Simulator/Recorders/Hdf5Recorder.h
  Testing/UnitTesting/Hdf5RecorderTests.cpp
Labels: bug, Recorders

#678 implement registerVariable in Hdf5 Recorder
  Simulator/Recorders/Hdf5Recorder.cpp
  Simulator/Recorders/Hdf5Recorder.h
  Testing/UnitTesting/Hdf5RecorderTests.cpp
  build/test_output.h5
Labels: bug, Recorders

#679 Implement the initDataSet, actually is 'saveSimData' for updated type CONSTANT
  Simulator/Layouts/Layout.cpp
  Simulator/Recorders/Hdf5Recorder.cpp
  Simulator/Recorders/Hdf5Recorder.h
  Testing/UnitTesting/Hdf5RecorderTests.cpp
  build/temp_hdf5_test.h5
Labels: Recorders

#677 [ISSUE 675] Added frontier delta computation back into ConnGrowth
  Simulator/Connections/Neuro/ConnGrowth.cpp
  Simulator/Connections/Neuro/ConnGrowth.h
Labels: bug, urgent, major item

#639 [release-v0.9.3] Fixed the EventBuffer bug
  Simulator/Connections/Neuro/ConnGrowth.cpp
  Simulator/Connections/Neuro/ConnGrowth.h
  Simulator/Vertices/EventBuffer.cpp
  Simulator/Vertices/Neuro/AllSpikingNeurons_d.cpp
Labels: bug
